@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

body {
  font-family: 'Rubik Bubbles', cursive;
  text-align: center;
  margin-top: 50px;
  background-color: #EF96BC;
}

h1 {
  font-size: 58px;
  margin-bottom: 30px;
  color: #F7D4E2;
}

#count {
  font-size: 36px;
  font-weight: bold;
  color: #A34972;
  margin-left: 10px;
  
}

#label {
  font-size: 36px;
  color: #A34972;
  font-weight: bold;
}

#clickBtn {
  width: 450px;
  height: 450px;
  border: none;
  background-image: url('cat.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  outline: none; 
  transition: transform 0.1s;
  
  color: #483D3C;
  font-family: 'Rubik Bubbles', cursive;
  font-size: 16px;
  top-padding: 10px; 

  padding-top: 150px;
  text-align: center;
}

#clickBtn:active {
  transform: scale(1.1); 
}

#resetBtn {
  font-size: 16px;
  font-family: 'Rubik Bubbles', cursive;
  color: #483D3C;
  background-color: #E62984;
  border: none;
  border-radius:12px; 

  position: absolute;
  top: 10px;
  left:10px;

}

#autoClickBtn {
  margin-top: 15px; 
  padding: 10px 16px;
  font-family: 'Rubik Bubbles', cursive;
  font-size: 14px;
  color: #483D3C;
  background-color: #47FAAC;
  border: none;
  border-radius: 12px;
}


  
